footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262626;
    color: white;
    padding: 20px;
  }

img {
    display: flex;
    height: 50px;
    margin-left: 93%;
    margin-top: -55px;
}
